{% load staticfiles %}
<html>
<head>
        <title>Scribble Login</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="{% static "feed.css" %}"></link>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
        <style>

        .title-style{
                color: white;
                font-family: 'Pacifico', cursive;
        }
        .btn{
                font-family: 'Pacifico', cursive;
        }

        </style>
</head>

<body>
<!--HEADER-->

         <nav class="navbar navbar-scribble navbar-fixed-top">
                <div id="navtop" class="container-fluid" >
                        <div class="navbar-header" >
                                <span class="navbar-brand logo" >Scribble</span>
                        </div>
                </div>
    </nav>
<!--END HEADER-->
    <div class="content container" style="margin-top:50px" >
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"style="text-align:center">
                                <div class="page-header">
                                        <h1 style="font-family:'Pacifico',cursive;">Login to Scribble</h1>
                                </div>
                        </div>

                        <div class="col-md-2"></div>
                </div>

                </div>

                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                                            <br>
                                            <br>
    {% if form.errors %}
    <div style="text-align:center; color:red;">(invalid username/password)</div>
    <br>

    {% else %}
    <br>

    {% endif %}

    <br>

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}




        <div style="text-align:center"><label for="user_name">Username</label>
        <div style="text-align:center"><td>{{ form.username }}</td>



        <div style="text-align:center"><label for="password" style="margin-top:10px">Password</label>
        <div style="text-align:center"><td>{{ form.password }}</td>


        <p></p>

        <br>

    <div style="text-align:center"><input type="submit" value="Login" class="btn btn-default" style="margin-top:10px"/> <a href="{% url "register" %}">
        <button value="Register" type="button" class="btn btn-default" style="margin-top:10px">Register</button></a>
    <div style="text-align:center"><input type="hidden" name="next" value="{{ next }}" class="btn btn-primary" style="margin-top:10px"/>
    </form></a>

</div>
                                            </div>
                        <div class="col-md-2"></div>
                </div>

                <br>
</body>
</html>



