<html>
<head>
        <title>Scribble Login</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
        <style>

        .title-style{
                color: white;
                font-family: 'Pacifico', cursive;
        }
        .btn{
                font-family: 'Pacifico', cursive;
        }

        </style>
</head>

<body>
<!--HEADER-->

         <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:4C1A1A">
                <div class = "container">
                        <div class = ".navbar-header">
                                <a class="navbar-brand title-style"href="https://github.com/CS370-soft-eng-practicum/geolocationChat" style="color:white">Scribble</a>
                        </div>
                </div>
        </nav>
<!--END HEADER-->
    <div class="content container" style="margin-top:50px" >
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"style="text-align:center">
                                <div class="page-header">
                                        <h1 style="font-family:'Pacifico',cursive;">Register For Scribble</h1>
                                </div>
                        </div>

                        <div class="col-md-2"></div>
                </div>

                </div>
<div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                                            <br>

<form action= "{{action}}" method="POST">
    {% csrf_token %}

    {% if form.errors %}
    (form not completed correctly)
    {% else %}
    {% endif %}

    <div style="text-align:center"><a href="/login" class="btn btn-default" style="margin-top:10px">Back</a>

        <br>
        <br>
        <br>

    <div style="text-align:center"><label for="user_name">Username</label>
    <div style="text-align:center"><p>{{ form.username }}</p>
    <div style="text-align:center"><label for="password" style="margin-top:10px">Password</label>
    <div style="text-align:center"><p>{{form.password1}}</p>
    <div style="text-align:center"><label for="password2" style="margin-top:10px">Confirm Password</label>
    <div style="text-align:center"><p>{{form.password2}}</p>

    <br>

    <div style="text-align:center"><input type="submit"value="Submit" class="btn btn-primary" style="margin-top:10px">

</form>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-2"></div>

</div>
                <br>
</body>
</html>
