{% load staticfiles %}
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="{% static "feed.css" %}"></link>
        <style>

        .title-style{
                color: white;
                font-family: 'Josefin Sans', sans-serif;
        }
        .btn{
                font-family: 'Josefin Sans', sans-serif;
        }

        </style>
</head>
        <title>Scribble Login</title>


<body>
<!--HEADER-->

         <nav class="navbar navbar-scribble navbar-fixed-top">
                <div id="navtop" class="container-fluid" >
                        <div class="navbar-header" >

                                <a class="navbar-brand logo" href="https://docs.google.com/forms/d/1uIyyrNZlw24HtbR2iNebtWcpxvB2yS7oTE70U48vk14/viewform">Scribble</a>
                        </div>
                </div>
    </nav>
<!--END HEADER-->
    <div class="content container" style="margin-top:50px" >
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"style="text-align:center">
                                <div class="page-header">
                                        <h1 style="font-family:'Pacifico',cursive;">Register For Scribble</h1>
                                </div>
                        </div>

                        <div class="col-md-2"></div>
                </div>

                </div>
<div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                                            <br>
<!-- "{{action}}" -->
<form action="{{action}}" method="POST" id="form">
    {% csrf_token %}

    {% if form.errors %}
    <h2 style="text-align:center; color:red;">Try that again</h2>
    {% else %}
    {% endif %}

    <div style="text-align:center"><a href="/login" class="btn btn-default" style="margin-top:10px">Back</a>
    <div style="text-align:center"><h4 for="user_name" style="margin-top:40px; font-family: 'Josefin Sans', sans-serif;">Username</h4>
    <div style="text-align:center"><p>{{ form.username }}</p>
    <div style="text-align:center"><h4 for="password" style="margin-top:10px; font-family: 'Josefin Sans', sans-serif;">Password</h4>
    <div style="text-align:center"><p>{{form.password1}}</p>
    <div style="text-align:center"><h4 for="password2" style="margin-top:10px; font-family: 'Josefin Sans', sans-serif;">Confirm Password</h4>
    <div style="text-align:center"><p>{{form.password2}}</p>
        
    <div style="text-align:center"><input type="submit"value="Submit" class="btn btn-primary" style="margin-top:40px">

</form>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-2"></div>
</div>
                <br>
</body>
</html>
