<!DOCTYPE html>
<html>

<body>


<form action= "{{action}}" method="POST">
    {% csrf_token %}

    {% if form.errors %}
    (form not completed correctly)
    {% else %}
    {% endif %}

    <div style="text-align:center"><a href="/settings" style="margin-top:10px">Back</a>

        <br>
        <br>
        <br>

    <div style="text-align:center"><label for="password" style="margin-top:10px">Old Password</label>
    <div style="text-align:center"><p>{{form.password1}}</p>
    <div style="text-align:center"><label for="password2" style="margin-top:10px">New Password</label>
    <div style="text-align:center"><p>{{form.password2}}</p>
        <div style="text-align:center"><label for="password3" style="margin-top:10px">Confirm New Password</label>
    <div style="text-align:center"><p>{{form.password3}}</p>

    <br>

    <div style="text-align:center"><input type="submit"value="Submit" style="margin-top:10px">

        </div>
        </div>
        </div>
        </div></div></div>
</form>

</body>
</html>