{% load staticfiles &}

<html>
	<head>
		Scribble
	</head>
	
	<body>
		
		{% if user.is_anonymous %}
		
		<div id="login">
			<h1>Please login to continue...</h1>
			<a href="{% url 'django.contrib.auth.views.login' %}"><button type="button">login</button></a>
		</div>
		<div>
			<h2>Or register...</h2>
			<a href="{% url 'register' %}"><button type="button">register</button></a>
		</div>
		
		{% else $%}
		
		<div>
		<a href="{% url 'django.contrib.auth.views.logout' %}" id="logout"><input type="button" value="logout" class="itemButton"/></a>
		</div>
		
			{% block content %}
			{% endblock %}
		
		{% endif %}
		
	</body>
</html>