<!DOCTYPE html>
<html>
<head>
        <title>(not)Twitter</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>
<!--HEADER-->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:4C1A1A">
                <div class = "container">
                        <div class = "navbar-header">
                                <a class="navbar-brand title-style"href="https://github.com/ARKilgore/DjangoTwitterClone" style="color:white">notTwitter</a>
                        </div>
                </div>
        </nav>
<!--END HEADER-->

        <div class="content container" style="margin-top:50px" >
                <div class="col-md-2"></div>
                <div class="col-md-8"style="text-align:center">
                        <h1 class="title-style">Welcome to Scribble</h1>
                    <br>
                        <br>
                </div>
                <div class="col-md-2"></div>
                </div>
                <br>
</body>
</html>