.tinyProfilePic{
        border-radius:50% 50% 50% 50%;
        width:50px;
        height:50px;
}

.activeChat{
        background-color:7C68A3;
        color: white;
}

.chat{
        background-color:white;
}

.newChat{
        background-color:lightgrey;
}
.navbar-scribble{
        background-color:7C68A3;
}
.msgBox{
        margin-top:10px;
}
.logo{
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 24;
}

.text{
        font-family: 'Josefin Sans', sans-serif;
}
.chatWindow{

}

.header{
         margin-top:40px;
         margin-bottom:10px;
}
.brk{
    border: none;
    height: 1px;
    color: lightgrey;
    background: lightgrey;
    width:80%;
}

.message{
    margin-bottom:5px;
}