{% load staticfiles %}
<html>
<head>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "feed.css" %}"></link>
 <script type="text/javascript" src="{% static "jquery.gracefulWebSocket.js" %}"></script>
 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
 <script type="text/javascript">
 function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(checkCoords);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function checkCoords(position) {
            if(position.coords.latitude > 33.8 || position.coords.latitude < 33.6){
                if(position.coords.longitude > -84 ||  position.coords.longitude < -82){
                    alert("You can't see this chat, please go away");
                }
            }
        }
    $(document).ready( function() {
        window.chat = {};
        chat.ws = $.gracefulWebSocket("ws://dutch.mathcs.emory.edu:8026/ws");
        chat.send = function (message) {
          chat.ws.send(message);
    }

      chat.ws.onopen = function (event){
        chat.send("{{user}}:-:{{chat.name}}")
    }


    var messages = document.getElementById("message_list");

    chat.ws.onmessage = function (event) {
      var messageFromServer = event.data;

      var list_element = document.createElement('div');
      list_element.className = "row message";
      list_element.innerHTML = messageFromServer;
      $("#message_list ul").append(list_element);
        /*
        var break_element = document.createElement('hr');
        break_element.className= "brk";
       $("#message_list ul").append(break_element);
       */
       messages.scrollTop = messages.scrollHeight;
    };

    var inputBox = document.getElementById("inputbox");
    inputbox.addEventListener("keydown", function(e) {
      if (!e) { var e = window.event; }
      if (e.keyCode == 13) {
        e.preventDefault(); // sometimes useful
        if(inputbox.value !== ""){
            chat.send("<b>{{user}}:</b> " + inputbox.value);
            inputbox.value="";
        }
      }
    }, false);
    });

    function changeChat(){
        alert("You don't have permission to do that");
    }



 </script>
</head>

<body onload="getLocation()">
     <nav class="navbar navbar-scribble navbar-fixed-top">
                <div id="navtop" class="container-fluid" >
                        <div class="navbar-header" >
                                <span class="navbar-brand logo" >Scribble</span>
                        </div>
                </div>
    </nav>
    <div class="row header">
        <div>
            <h1 class="text" style="text-align:center; margin-bottom:20px;"> {{ chat.name }} </h1>

            <div class="row well chatWindow">
                <div class =  "col-md-2 text">
                        <div class="well activeChat">{{ chat.name }}    </div><div class="well chat">Overheard @ Cox (anonymous)</div>
                        <div class="well chat"  onClick="changeChat()">NBB Study Group</div>
                        <div class="well chat"  onClick="changeChat()">Dooley's Festivities Discussion</div>
                        <div class="well newChat"  onClick="changeChat()">+ Start new chat!</div>
                </div>

                <div class="col col-md-8 ">
                    <div class="chat" id="message_list" style="height:60%;overflow:scroll; overflow-x:hidden;">
                          <ul style="margin-top:10px;">
                              {% for message in chat.messages %}
                                <p>{{message}} - test</p>
                              {% endfor %}
                          </ul>
                    </div>
                </div>
                <div class="row col col-md-8 col-md-offset-2" style="margin-top:20px">
                    <div>
                        <input class="form-control" name="term" id="inputbox" cols="40" rows="4"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
