{% load staticfiles %}
<html>
<head>
        <title>Scribble Chatrooms</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="{% static "feed.css" %}"></link>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
</head>
<body>
<!--HEADER-->

         <nav class="navbar navbar-scribble navbar-fixed-top">
                <div id="navtop" class="container-fluid" >
                        <div class="navbar-header" >
                                <span class="navbar-brand logo" >Scribble</span>
                        </div>
                </div>
    </nav>
<!--END HEADER-->
    <div class="content container" style="margin-top:50px" >
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"style="text-align:center">
                                <div class="page-header">
                                        <h1 style="font-family:'Pacifico',cursive;">Chatrooms</h1>
                                </div>
                        </div>

                        <div class="col-md-2"></div>
                </div>

                </div>
<div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                                            <br>
{% if chat_list %}
<ul>
<ul>{% for chat in chat_list %}</ul>
</ul>
 
<ul>
<ul>
    <li><a id="" href={% url 'chat_room' chat.id %}> {{ chat.name }}</a></li>
</ul>
</ul>
 
<ul>{% endfor %}</ul>
 
{% else %}
 
No chats are available.
 
{% endif %}
</body>
</html>